<div style="margin-top: 100px;">
  <h3 class="mb-5">WHO AM I?</h3>
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/images/profile.jpg" class="profile-img">
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <p class="aboutMe">
          My name is Edward, but I prefer Eddie.<br>
          I dont like peanut butter, I like jelly.<br>
          Born in a hospital somewhere in Tacoma,<br>
          could've been Oklahoma, judging by the aroma.<br>
          I love to go fishing, the coast is my playground<br>
          Jaws has nothing on me, the fish get nervous break downs.<br>
          I get nervous break downs, can't see where the bugs are,<br>
          Screaming "I'm missing a semicolon?" as I'm smashing my guitar.<br>
          I like to hit the gym, not just to blow off steam,<br>
          I actually enjoy the pain, no i never scream.<br>
      </p>

    </div>
  </div>
</div>

<style>
  .profile-img{
    height: 500px;
    border: solid black 1px;
  }
</style>
