<div class="container-fluid" style="margin-top: 100px">
  <div class="row text-align-center">
    <div class="col-md-10 offset-md-1">
      <h6 class="text-center"><b>Professional Summary</b></h6>
      <div class="col-md-8 offset-md-2">
        <p class="text-left" style="font-size: 14px">
          I create custom applications designed to reduce redundancy, minimize
          errors and organize data
          for everyday work processes. I have a strong ability to rapidly learn
          new concepts with
          attention to detail, a talent to communicate clearly and listen
          intently in order to translate
          my client’s requirements into software products. My productivity is
          driven by my goal to be a
          developer who can see everyday routines develop into software tools to
          assist you.
        </p>
      </div>
    </div>
    <div class="col-md-4 offset-md-1" style="border: solid black 1px;">
      <h6 class="text-center"><b>Job Experience <i class="fas fa-laptop"></i></b></h6>
      <ul style="font-size: 12px;">
        <li>
          Showcased over 30 enhancements that saved clients over 60 percent of time and energy.
      </li>
      <li>
          Resolved persistent bugs using agile development methodologies with ServiceNow.
      </li>
      <li>
          Designed an application that manages access cards for 175+ employees across all departments of SEFNCO.
      </li>
      <li>
          Developed an inventory application which manages over 4,000 assets ranging from laptops to printers.
      </li>
      <li>
          Improved claims application that manages over 400 claims for asset damages, from vehicle accidents to injuries.
      </li>
      <li>
          Communicated with multiple clients about their needs, successfully translated requirements into applications.
      </li>
      </ul>
    </div>
    <div class="col-md-4 offset-md-1"></div>
  </div>
</div>

<style>

</style>
