<div class="container-fluid" style="margin-top: 80px;">
  <h3>Work Experience</h3>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="ml-5">
        <h5>Sefnco Communications</h5>
        <strong>Location:</strong> Puyallup WA
        <br>
        <strong>Duration:</strong> October 2019 - Current
        <br>
        <strong>Title: </strong> Application Programmer
      </div>
    </div>
    <div class="col-8">
      <ul>
        <li>Showcased over 30 enhancements that saved clients over 60 percent of time and energy.</li>
        <li>Developed an inventory application which manages over 4,000 assets ranging from laptops to printers.</li>
        <li>Designed an application that manages access cards for 175+ employees across all departments of SEFNCO.</li>
        <li>Improved claims application that manages over 400 claims for asset damages, from vehicle accidents to injuries.</li>
        <li>Resolved persistent bugs using agile development methodologies with ServiceNow.</li>
        <li>Communicated with multiple clients about their needs, successfully translated requirements into applications.</li>
      </ul>
    </div>
  </div>
  <hr>
  <h3>Real world Projects</h3>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="ml-5">
        <h5>E-Z Mart</h5>
        <strong>Location:</strong> Tacoma WA
      </div>
      <br>
    </div>
    <div class="col-8">
      <ul>
        <li>Coordinated and built an application that manages over 20k worth of inventory from alcohol to non-perishables.</li>
        <li>Formulated an algorithm to list all products whose quantity falls below certain number.</li>
        <li>Reduced client’s time and effort to manage inventory by 67 percent.</li>
        <li>Resolved multiple bugs efficiently for application to run smoothly and effectively.</li>
      </ul>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-4">
      <div class="ml-5">
        <h5>Bowlero Lanes</h5>
        <strong>Location:</strong> Lakewood WA
      </div>
      <br>
    </div>
    <div class="col-8">
      <ul>
        <li>Enhanced application which currently host bowling tournaments statewide for Washington, Las Vegas, and
          Hawaii.</li>
          <li> Developed algorithm for initial player bracket placement to be randomized for over 2000 bowlers.</li>
          <li>Showcased and refined a sorting algorithm to handled all player’s score bracket placement after the initial round.</li>
          <li>Reduced clients time by 70 percent for specific assignments.</li>
        </ul>
    </div>
  </div>

</div>


<!-- <div class="iframe-container">
  <iframe src="../../assets/files/resumeE.pdf" allowfullscreen></iframe>
</div>

<style>
  .iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
</style> -->
